body {
    font-family: "Jost";
    font-style: normal;
}



.container {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}



@media only screen and (min-width: 375px) {
    .container {
        min-width: 375px;
        padding: 0 24px;
    }
}

@media only screen and (min-width: 576px) {
    .container {
        min-width: 576px;
        padding: 0 20px;
    }
}


@media only screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        padding: 0 40px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        min-width: 992px;
        padding: 0 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0 44px;
    }
}
