
.footer {
  position: relative;
  top: -189px;
  background: #1d1c1e;

  &-contact{
    position: static;
  }

  &__inner {
    padding: 253px 0 64px;
  }

  &-contact__inner{
    padding: 64px 0 64px;
  }

  &-logo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    &__img {
      color: #fff;
    }

    &__nav {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-left: 0;
      list-style-type: none;
      row-gap: 32px;
      width: 100%;
      padding-top: 32px;
      border-top: 1px solid rgba(143, 135, 135, 0.308);

      &--item {
        color: #ffffff;

        &:hover{
          text-decoration-line: underline;
        }

        &-link {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 2px;
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  &-body {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__address {
      width: 200px;

      &-title {
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
        letter-spacing: 1px;
      }

      &-subtitle {
        margin-top: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }

    &__contact {
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style-type: none;
      padding-left: 0;

      &-item {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
        letter-spacing: 1px;
      }
    }

    &__socials{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 184px;
      padding-left: 0;
      list-style-type: none;
    }

    &__social{

      &-link{
        color: #E7816B;

        &:hover{
          color: #FFAD9B;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    top: -86px;
  
    &__inner {
      padding: 166px 0 80px;
    }

    &-contact__inner{
      padding: 80px 0 80px;
    }
  
    &-logo {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 31px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(143, 135, 135, 0.301);
  
  
      &__nav {
        flex-direction: row;
        justify-content: space-between;
        row-gap: 0px;
        width: 370px;
        padding-top: 0;
        border-top: none;
      }
    }
  
    &-body {
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row;

      &__address{
        &-title{
          text-align: left;
        }
        &-subtitle{
          text-align: left;
        }
      }

      &__contact{
        align-items: flex-start;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    top: -72px;
  
    &__inner {
      width: 1111px;
      padding: 144px 0 72px;
    }

    &-contact__inner{
      padding: 72px 0 73px;
    }
  }
}
