.guide {
  margin-bottom: 120px;

  &__inner {
  }

  &-cards {
    display: grid;
    row-gap: 24px;
    align-items: center;
  }

  &-card {
    position: relative;
    // height: 250px;
    padding: 84px 37px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background-repeat: no-repeat;

    &:nth-child(1) {
      background-image: url(../../images/guide1-phone.jpg);
      background-size: cover;
      background-position: center;
    }

    &:nth-child(2) {
      background-image: url(../../images/guide2-phone.jpg);
      background-size: cover;
      background-position: center;
    }

    &:nth-child(3) {
      background-image: url(../../images/guide3-phone.jpg);
      background-size: cover;
      background-position: center;
    }

    &__body {
      position: relative;
      z-index: 2;

      &-title {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 1.4px;
        color: #ffffff;
      }

      &-link {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #0000005e;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .guide {
    &-card {
      padding: 53px 162px;
      border-radius: 15px;

      &:nth-child(1) {
        background-image: url(../../images/guide-1-tablet.png);
      }

      &:nth-child(2) {
        background-image: url(../../images/guide-2-tablet.jpg);
      }

      &:nth-child(3) {
        background-image: url(../../images/guide-3-tablet.jpg);
      }

      &__body {
        &-title {
          margin-bottom: 24px;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .guide {

    margin-bottom: 160px;

    &-cards {
      display: grid;
      row-gap: 24px;
      column-gap: 30px;
      grid-template-areas:
        "first second"
        "first third";
      // align-items: center;
    }

    &-card {
      padding: 107px 88px;
      border-radius: 15px;

      &:nth-child(1) {
        grid-area: first;
        padding: 273px 88px;
        background-image: url(../../images/guide-1-pc.png);
      }

      &:nth-child(2) {
        grid-area: second;
      }

      &:nth-child(3) {
        grid-area: third;
      }
    }
  }
}
