.intro {
  margin-bottom: 120px;
  background: #e7816b;
  background-image: url(../../images/Oval.png);
  background-position: 0 108px;
  background-repeat: no-repeat;

  &__inner {
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  &-img{
    position: relative;
    bottom: -50px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 14px;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 24px;
    }

    &__more {
      padding: 17px 24px;
      background-color: #fff;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #333136;
      margin-bottom: 30px;
      transition: all 0.1s ease;

      &:hover{
        background-color: #FFAD9B;
        color: #FFFFFF;
      }
    }
  }
}


@media only screen and (min-width: 576px) {
  .intro {
    background-position: right center;
  
    &__inner{
      padding-top: 60px;
    }
  
    &-body {
      
  
      &__title {
        width: 573px;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 8px;
      }
  
      &__subtitle {
        width: 445px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 39px;
      }
  
      &__more {
        margin-bottom: 48px;
      }
    }

    &-img{
      filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
    }
  }
  
}

@media only screen and (min-width: 768px) {
  .intro {
    background-image: url(../../images/Oval.png);
  
    &__inner{
      padding-top: 60px;
    }
  
    &-body {
      
  
      &__title {
        width: 573px;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 8px;
      }
  
      &__subtitle {
        width: 445px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 19px;
      }
  
      &__more {
        margin-bottom: 69px;
      }
    }

    &-img{
      filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
    }
  }
  
}

@media only screen and (min-width: 992px) {
  .intro {
    background-image: url(../../images/Oval.png);
    background-position: center bottom;
  
  
    &-body {
  
      &__more {
        margin-bottom: 0px;
      }
    }

  }
  
}

@media only screen and (min-width: 1200px) {
  .intro {
    background: none;
    margin-bottom: 160px;

    &__inner{
      background: #e7816b;
      background-image: url(../../images/Oval.png);
      background-position: right center;
      background-repeat: no-repeat;
      border-radius: 15px;
      width: 1111px;
      padding: 120px 95px 0;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
    }

    &-img{
      transform: scale(1.8);
      bottom: 0;
    }
  
    
  
    &-body {
      padding-bottom: 145px;
      align-items: flex-start;
  
      &__title {
        width: 540px;
        text-align: left;
        margin-bottom: 11px;
      }
  
      &__subtitle {
        text-align: left;
        margin-bottom: 40px;
      }
  
      &__more {
        margin-bottom: 0;
      }
    }
  }
}
