.talk {
  position: relative;
  z-index: 2;


  &__inner {
    padding: 64px 24px;
    background: #e7816b;
    background-image: url(../../images/talk-back2.png);
    background-repeat: no-repeat;
    background-position: -130px center;
    border-radius: 15px;
  }

  &-more {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .talk {
  
    &__inner {
      padding: 52px 52px;
      background-image: none;
    }

    &-body{

      padding: 0;
      
      &__title{
        margin-top: 0;
        width: 335px;
      }

      &-subtitle{
        width: 573px;
        margin-bottom: 32px;
      }
    }
  }
}


@media only screen and (min-width: 1200px) {
  .talk {
  
    &__inner {
      padding: 48px 95px;
      background-image: url(../../images/talk-back-3.png);
      background-position: 236px center;
    }

    &-body{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      &__title{
        margin-top: 0;
        width: 320px;
      }

      &-subtitle{
        width: 459px;
        margin-bottom: 32px;
      }
    }
  }
}

